@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}


body {
    height: 100vh;
    background-color: hsl(217, 54%, 11%);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

main {
    width: 350px;
    height: 620px;
    align-items: center; 
    border-radius: 10px;
    font-family: "Outfit", sans-serif;
    background-color: hsl(216, 50%, 16%);
    

    box-shadow: 0px 15px 19px 5px hsl(217deg 53.3% 7.29%);
}

.image-container {
  position: relative; 
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;

}

.primary-image {
  width: 90%;
  height: auto;
  top: 10px;
  border-radius: 10px;
  align-items: center; 
}

.secondary-image {
  position: absolute; 
  align-items: center; 
  top: 10;
  left: 10;
  width: 95%;
  height: 95%;
  opacity: 0;
  transition: opacity 0.1s ease;  
  background-color: rgba(95, 92, 92, 0.039); 
  align-items: center; 
}

.image-container:hover .secondary-image {
  opacity: 1; 
}

div.texto1 {
    text-align: justify;
    font-family: "Outfit", sans-serif;
    display: flex;
  justify-content: center;
  align-items: center;
  
}

h1 {
    font-family: "Outfit", sans-serif;
    font-weight:500;
    color: white;
    margin: 30px 20px 20px;
    
}

.link1{
  color: white;
  text-decoration: none;
}

h1 > a:hover {
    color: hsl(178, 100%, 50%);
    text-decoration: none; 
}

p {
   color: hsl(215, 51%, 70%);
   font-size: 17px;
   margin: 5px 20px;
}

div.texto2 {
    columns: 2;
    margin: 0 25px;
    padding-top: 10px;
}

.veth {
    background-image: url('images/icon-ethereum.svg');
    background-repeat: no-repeat;
    background-size: 12px;
    color: hsl(178, 100%, 50%);
}

p#eth {
    margin: 0 20px;
    color: hsl(178, 100%, 50%);
}

div.dias {
    background-image: url('images/icon-clock.svg');
    background-repeat: no-repeat;
    background-size: 20px;
    margin: 0 0 0 43px;
    color: hsl(178, 100%, 50%);
}

#dias2 {
    margin: 30px 0 0 0;
    text-align: right;
}

hr{
  width: 90%; 
  color:hsl(215, 32%, 27%);
  margin: 20px 20px;
  }

  .creator {
    display: flex;
    align-items: center;
    margin-top: 20px;
    color: hsl(215, 51%, 70%);
  }
  
  img.avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%; 
    margin:  5px 20px 10px 30px;
  }
  
  .creator a {
    color:white;
    text-decoration: none;
  }
  
  .creator a:hover {
    color: hsl(178, 100%, 50%);
    text-decoration: underline;
  }

  footer {
    font-family: "Outfit", sans-serif;
    color: hsl(215, 51%, 70%);
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-top: 20px;
    padding-bottom: 20px;

    position:absolute; 
    bottom: 0%; 
    left: 50%;
    transform: translate(-50%);
  }
  
  footer a {
    color: white; 
    text-decoration: none; 
  }
  
  footer a:hover {
    text-decoration: none; 
  }

    /* Media Query para telas pequenas (320px a 768px) */
@media screen and (min-width: 300px) and (max-width: 768px) {

  body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; 

    }

    main {
        width: 60vw;
        height: 90vh;
        padding: 0 10px;
        border-radius: 10px;     
        align-items: center;     
      }


  div.imagem1 {
      display: flex;
      justify-content: center;
      align-items: center; 
  }
  
  picture {
      width: 250px;
      height: 250px;
      margin-top: 20px;
      border-radius: 10px;
  
      background-image: url('images/image-equilibrium.jpg');
      background-repeat: no-repeat;
      background-size: contain;
  }
  
  
  picture:hover {
      cursor: pointer;
      background-image: url('images/image-equilibrium.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      opacity : 0.5;
      background-image: url('images/icon-view.svg');
      background-repeat: no-repeat;
      background-size: contain;
      transform: scale(1.1)
  }
  
  div.texto1 {
      margin: 0 15px;    
  }
  
  h1 {
  font-size: 17px;
}

p {
 font-weight: 13px;
 text-align: left;
 
}

.veth {
   background-size: 10px;
   font-size: 10px;
  }

p#eth {
  font-size: 15px;
  margin: 0 0 0 20px;
}

.dias {
  background-image: url('images/icon-clock.svg');
  background-repeat: no-repeat;
  background-size: 18px;
  margin: 0 0 0 43px;
  color: hsl(178, 100%, 50%);
}

.veth {
  background-size: 11px;
}


div.dias {
  margin: 0 0 0 3px;
  font-size: 12px;
  gap: 1px
}

hr {
  margin: 15px 15px;
  }

  .creator {
    margin-top: 5px;
    font-size: 12px;
  }
  
  img.avatar {
    width: 30px;
    height: 30px;
    margin:  0px 20px 15px 15px;
  }
  
  .creator a {
    color:white;
    text-decoration: none;
  }

  span {
    margin: 0px 0 15px ;
  }
  
  footer {
    width: 100%;
    font-size: 10px;
    padding-bottom: 0px;
  }
}



